
<h1 style="margin-left: 4%;">Liste des hotels</h1>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">#id</th>
        <th scope="col">nom</th>
        <th scope="col">ville</th>
        <th scope="col">Etoiles</th>
        <th scope="col">Nombre de chambre(s)</th>
        
        <th scope="col">Gestion hotel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of Ghotel">
         <td><img [src]="h.imagecouvert" class="rounded-circle" width="50" height="50" alt="lg"/></td> 
        <th scope="row">{{h.id}}</th>
        <td>{{h.name}}</td>
        <td>{{h.ville}}</td>
        <td>{{h.nbetoile}}
            <svg xmlns="http://www.w3.org/2000/svg" style="color:yellow;" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
        </td>
     
        <td>{{h.chambre.length}}</td>
        <td><button [value]="h.chambre" (click)="remplir(h.id,h.chambre)"  class="btn btn-info btn-sm">detail</button>
            
          
              <button name="supprime"  (click)="onSupprimerHotel(h.id)"class="btn btn-danger btn-sm">supprimer</button>
            </td>
      </tr> 
     <tr>
       <td> <button name="ajout" class="btn btn-success" (click)="showH()">ajouter</button></td>
     </tr>
    </tbody>
  </table>

  <form  [formGroup]="ajoutForm" *ngIf="showHotel" (ngSubmit)="AjouterHotel()">
    <div class="row" style="margin-left: 4%;">
     
      <div class="col-3">
        <label >Numero hotel</label>
        <input  type="number" class="form-control"  formControlName="id" />
      </div>
      <div class="col-3">
      <label >Nom hotel</label>
      <input type="text"  class="form-control" formControlName="name" /><br>
    </div>
    <div class="col-3">
      <label >Nom ville</label><br>
      <input type="text" class="form-control" formControlName="ville"><br>
    </div>
    <div class="row">
      <div class="col-3">
        <label >image de couverture</label>
        <input type="text"   class="form-control" formControlName="imagecouvert" />
      </div>
      <div class="col-3">
        <label >nombre etoile</label>
        <input type="number"   class="form-control"  formControlName="nbetoile" />
      </div>
      <div class="col-3">
        <label >meullieur Prix</label>
        <input type="number" step="100"    class="form-control"  formControlName="prix" /><br>
      </div>
      
      <form [formGroup]="opt">
        <input type="checkbox" formControlName="vueMer"  class="form-check-input">Pied dans l'eau<br>
       <input type="checkbox" formControlName="wifigrat" class="form-check-input" >Wifi<br>
       <input type="checkbox" formControlName="jaquzi" class="form-check-input">jaquzi<br>
        <input type="checkbox" formControlName="stade" class="form-check-input" >Stade<br>
        <input type="checkbox" formControlName="parkgrat" class="form-check-input" >parking<br>
        <input type="checkbox" formControlName="divertisement" class="form-check-input">divertissement<br>
        <input type="checkbox" formControlName="offre" class="form-check-input" >offre<br>
        <input type="checkbox" formControlName="mesuresec" class="form-check-input">mesure securite<br>
        <input type="checkbox" formControlName="anulationgrat" class="form-check-input" >annulation gratuite<br>
        <input type="checkbox" formControlName="Servicedemenaj" class="form-check-input">service menaje<br>
        
      </form> 
    
      <div class="col-3">
        <br>
      <button class="btn btn-outline-success" >confirmer</button>
      <input class="btn btn-outline-dark"type="button" value="annuler"(click)="hideH()"/>
    </div>
    </div>
  
    
  
  
    </div>
  </form>

<br>
<div *ngIf="affiche">
  <h1 style="margin-left: 4%; width:70%;" >Liste des chambres</h1>
  <table id="data" class="table ">
    <thead >
      <tr>
        <th scope="col">image</th>
        <th scope="col">#id</th>
        <th scope="col">type</th>
        <th scope="col">prix Unitaire</th>
        <th scope="col">nombre de lit</th>
        <th scope="col">Gestion chambre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of listChambre ;index as i">
        
         <td  ><img [src]="h.couvertchamb" class="rounded-circle" width="50" height="50" alt="lg"/></td> 
        <th scope="row" >{{h.idch}}</th>
        <td >{{h.type}}</td>
        <td ><span class="badge bg-warning text-light">{{h.pu|number:'3.2'}} DT </span></td>
        <td >{{h.nblit}}</td>
       <td >
        <button name="modifier" (click)="showC(i)" class="btn btn-primary btn-sm">modifier</button>
        <button name="supprime"  (click)="onSupprimerChambre(h.idch)" class="btn btn-danger btn-sm">supprimer</button>
       </td>
      
      </tr>
   
      <tr>
        <td> <button name="ajout" (click)="showC(listChambre.length)" class="btn btn-success">ajouter</button>
         <button class="btn btn-danger"(click)="hide()">fermer</button></td> 
      </tr>

      
    </tbody>
  </table>


  
  <form  [formGroup]="ajoutFormChambre" *ngIf="showChambre" >
    <div class="row" style="margin-left: 4%;">
     
      <div class="col-3">
        <label >Numero Chambre</label>
        <input type="number"  class="form-control" [placeholder]="this.listChambre[indexChambre].idch+' (modifier avec id different a les autres id)'" formControlName="idch" />
      </div>
      <div class="col-3">
      <label >type</label>
      <input type="text"  class="form-control"  [placeholder]="this.listChambre[indexChambre].type" formControlName="type" /><br>
      </div >
    <div class="col-3">
      <label >Prix Unitaire</label><br>
      <input type="number" class="form-control"  [placeholder]="this.listChambre[indexChambre].pu" formControlName="pu"><br>
    </div>

      <div class="col-3">
        <label >image de couverture</label>
        <input type="text"   class="form-control" [placeholder]="this.listChambre[indexChambre].couvertchamb"  formControlName="couvertchamb" />
      </div>
      <div class="col-3">
        <label >Surface </label>
        <input type="number"   class="form-control" [placeholder]="this.listChambre[indexChambre].surface" formControlName="surface" />
      </div>
      <div class="col-3">
        <label >nombre de lit </label>
        <input type="number"   class="form-control" [placeholder]="this.listChambre[indexChambre].nblit" formControlName="nblit" />
      </div>
      <div class="col-3">
        <label >nombre de personne</label>
        <input type="number"   class="form-control" [placeholder]="this.listChambre[indexChambre].nbpers" formControlName="nbpers" />
      </div>
      <div class="col-3">
      <input type="checkbox" formControlName="clim" [checked]="this.listChambre[indexChambre].clim" class="form-check-input">Climatisseur<br>
      <input type="checkbox" formControlName="coffre" [checked]="this.listChambre[indexChambre].coffre"  class="form-check-input">Coffre<br>
      <input type="checkbox" formControlName="minib"  [checked]="this.listChambre[indexChambre].minib" class="form-check-input">mini bar<br>
    </div>  
      <form [formGroup]="opt">
        <input type="checkbox" formControlName="vueMer"  class="form-check-input">Pied dans l'eau<br>
       <input type="checkbox" formControlName="wifigrat" class="form-check-input" >Wifi<br>
       <input type="checkbox" formControlName="jaquzi" class="form-check-input">jaquzi<br>
        <input type="checkbox" formControlName="stade" class="form-check-input" >Stade<br>
        <input type="checkbox" formControlName="parkgrat" class="form-check-input" >parking<br>
        <input type="checkbox" formControlName="divertisement" class="form-check-input">divertissement<br>
        <input type="checkbox" formControlName="offre" class="form-check-input" >offre<br>
        <input type="checkbox" formControlName="mesuresec" class="form-check-input">mesure securite<br>
        <input type="checkbox" formControlName="anulationgrat" class="form-check-input" >annulation gratuite<br>
        <input type="checkbox" formControlName="Servicedemenaj" class="form-check-input">service menaje<br>
        
      </form> 
     
      <div class="col-4">
      
      <button  class="btn btn-success"(click)="onAjoutChambre()" >confirmerAjout</button>
      <button   class="btn btn-success"(click)="onModifierChambre(indexChambre)" >confirmerModifier</button>

      <input class="btn btn-outline-dark "type="button" value="annuler"(click)="hideC()"/>
    
    </div>
  
    
  
  
    </div>
  </form>
 
</div>
