  <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6  order-md-1 "><img class="pt-7 pt-md-0 hero-img" src="assets/hero-img.png" alt="hero-header"></div>
          <div class=" col-lg-6 text-md-start ">
            <h4 class="fw-bold text-danger ">
              Les meilleures destinations en Tunisie</h4>
            <h1 class="title">
              Voyagez, profitez et<br>
              vivre une vie nouvelle et pleine</h1>
            <p class="sous-title">Built Wicket longer admire do barton vanity itself do in it.
                <br >Preferred to sportsmen it engrossed listening. Park gate
                <br >sell they west hard for the.
              </p>
              <button class="btn btn-warning btn-lg " (click)="redirect()" >En savoir plus
              </button>
          </div>
          
        </div>
       
      </div>
    
  
    <div class="container ">
        <h3 class="title text-center" style=" margin-bottom:60px;margin-top:40px;">
          Meilleures destinations</h3>
      <div class="row">
        <div class="col-md-4 ">
          <div class="card overflow-hidden shadow"> 
              <img class="card-img-top" src="assets/dest3.jpg" alt="Sidi Bousdid,Tunis">
            <div class="card-body ">
             
                <h4 class="text-primary card-title">Sidi Bousdid,Tunis</h4>
         
            </div>
          </div>
        </div>
  
        <div class="col-md-4 ">
          <div class="card overflow-hidden shadow"> 
              <img class="card-img-top" src="assets/dest1.jpg" alt="Jam, Mahdia">
            <div class="card-body ">
                <h4 class="text-primary card-title">Jam, Mahdia</h4>
            
            </div>
          </div>
        </div>
  
        <div class="col-md-4 ">
          <div class="card overflow-hidden shadow"> 
              <img class="card-img-top" src="assets/dest2.jpg" alt="Djerba,Médenine">
            <div class="card-body ">
             
                <h4 class="text-primary card-title">Djerba,Médenine</h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
