
<div class="bg-gradient-success ">
    <div class="card">
        <div class="row">
         
                <img class="col-6 img " src="assets/login.jpg" alt="Photo d'un gens" />
          
            <div class="col-6">
                <h3>Bienvenue</h3>
                <form   [formGroup]="productForm" (ngSubmit)="enter()">
                    <input type="text" class="form-control " formControlName="id" placeholder="Entrer votre id...">
                    <div class="alert alert-danger" *ngIf="id && id.invalid && id.dirty">
                       remplir le champ de l'id  
                    </div>
                    <input type="password" class="form-control "   formControlName="pass" placeholder="Entrer votre mot de passe">
                    <div class="alert alert-danger" *ngIf="pass && pass.invalid&& pass.touched">
                        saisir le mot de passe avec la taille min 8 de caratéres 
                     </div>
                    <input type="submit" class="btn btn-success  btn-block btn2" value="Login" [disabled]="verif()">
                    <a class="btn btn-success btn-block" href="#" >Accueil</a> 
                
                </form>
            </div>
          </div>
    </div>

    </div>