<div style="margin-top: 10%;margin-bottom:10%;">
    <div class="container">
    <div class="row">
    <div class="col-xl-5 col-lg-5    text ">
   
        <span class="sous-title">About Us</span>
    <h3 class="title">Trippers
    </h3>
    <p class="sous-title">Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et. Rhoncus.</p>

    </div>
    <div class="col-xl-7 col-lg-7">
    <div class=" d-flex">
  <div class="img-list">
    <img class="img_1" src="./assets/about1.webp">
    <img class="img_2" src="./assets/about2.webp">
</div>
    </div>
    </div>
    </div>
    </div>
    </div>





        <div class="container">
       
      
        <h2 class=" mx-auto text-center title" > Staff</h2>
      
   
        <div class="row" style="margin-left: 14%; margin-top:7% ;margin-bottom:7%">
      

       <div class="col-md-2 col-lg-5">
            <div class="card overflow-hidden shadow"> 
                <img class="card-img-top" src="./assets/staff1.jpg">
              <div class="card-body text-center  ">
               
                  <h4 class="text-primary card-title ">Neji mohamed ali </h4>
                  <div class="card-text">
               <span >Developpeur Front-end</span>
                 </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-lg-5">
            <div class="card overflow-hidden shadow"> 
                <img class="card-img-top" src="./assets/staff1.jpg">
              <div class="card-body text-center  ">
               
                  <h4 class="text-primary card-title ">Halloul NourAllah </h4>
                  <div class="card-text">
               <span >Developpeur Back-end</span>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <app-footer></app-footer>





       
     