

.img_1{
    border-radius: 5px;
position:relative;
width: 200px    ;
    border-radius:20 ;
  
}
.img_2{
    width: 350px;
    position:relative;
    top:10%;
    left: 4%;
    border-radius: 5px;
   
}
.text{
 
margin-top:8%;}

.title{
font-family: "Volkhov", "DM Serif Display", cursive;
font-weight: 700;
font-size: 50px;
color: #181E4B;
}

.sous-title{
   
    font-weight: 600;
    color: #6d6f7c;
    font-size: 17px;
  }
  .img-list{
margin-left:15%;
  }
